<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciar - Compras</title>
    <link rel="stylesheet" th:href="@{/css/buy.css}" />
</head>

<body>
    <nav>
        <div class="nav-container">
            <ul class="ul-a">
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/store}">Lojas</a></li>
            </ul>
            <h1>Gerenciar Compras</h1>
            <ul class="ul-b">
                <li class="user">
                    <a th:href="@{/user}">
                        <img src="/images/user.png" alt="Imagem do usuário" />
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-register">
        <div class="form-container">
            <h2 id="form-title">Cadastrar Compra</h2>
            <form th:action="@{/buy}" method="post" id="buy-form">
                <input type="hidden" id="buy-id" name="buyId" />

                <div class="form-group">
                    <label for="user">Usuário:</label>
                    <input type="text" id="user" name="user" required disabled th:value="${user.name}" />
                </div>

                <div class="form-group">
                    <label for="loja">Loja:</label>
                    <select id="loja" name="loja" required onchange="atualizarStoreId()">
                        <option value="" disabled selected>Selecione a loja</option>
                        <option th:each="store : ${stores}" th:value="${store.id}" th:text="${store.name}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="data">Data:</label>
                    <input type="text" id="data" name="data" required disabled placeholder="Data da compra" />
                </div>

                <input type="hidden" id="storeId" class="storeId" name="storeId" />

                <button type="submit" class="submit-btn" id="form-submit-btn">
                    Confirmar
                </button>
                <button type="reset" class="reset-btn" id="form-reset-btn" onclick="verifyEdit()">
                    Limpar
                </button>
            </form>
        </div>
    </div>

    <div class="container-store">
        <h2>Histórico de Compras</h2>
        <div class="compras-list">
            <ul>
                <li th:each="buy : ${buys}">
                    <div class="compra-item">
                        <div class="content">
                            <h4 th:text="${buy.store != null ? buy.store.name : 'Loja desconhecida'}"></h4>
                            <!--<p th:text="${buy.user != null ? 'Usuário: ' + buy.user.name : 'Usuário desconhecido'}"></p>-->
                            <p th:text="'Data: ' + ${#temporals.format(buy.purchaseDate, 'dd/MM/yyyy HH:mm:ss')}"></p>
                        </div>
                        <div class="actions">
                            <button type="button" class="edit-btn"
                                th:attr="data-id=${buy.id}, data-user=${buy.user.name}, data-storeName=${buy.store.name}, data-storeId=${buy.store.id}, data-date=${buy.purchaseDate}"
                                onclick="preencherFormulario(this)">
                                Editar
                            </button>

                            <!-- Formulário de Exclusão -->
                            <form th:action="@{/buy/{id}(id=${buy.id})}" th:method="post">
                                <input type="hidden" name="_method" value="delete" />
                                <button type="submit" class="delete-btn"
                                    onclick="return confirm('Tem certeza que deseja excluir esta Compra?')">
                                    Excluir
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script th:src="@{/js/buy.js}"></script>
</body>

</html>