<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="#home">Início</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#servicos">Serviços</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
    </nav>

    <div style="padding:20px;">
        <h1>Bem-vindo à nossa página!</h1>
        <p>Esta é uma página com uma barra de navegação simples.</p>
    </div>

    <div class="container">
        <a th:href="@{/store}">Gerenciar Lojas</a>
        <a th:href="@{/buy}">Gerenciar Compras</a>
    </div>
</body>

</html>