<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Online</title>
    <!--<link rel="stylesheet" th:href="@{/css/login.css}">-->
</head>

<body>
    <div class="container">

        <div class="login" id="login-form">
            <h1>Login</h1>
            <form method="post" th:action="@{/login}"</form>>
                <label for="email">Email:</label>
                <input type="text" id="login-email" name="email" required>

                <label for="password">Senha:</label>
                <input type="password" id="login-password" name="password" required>

                <button type="submit">Entrar</button>
                <button type="reset">Limpar</button>
            </form>
            <hr>
            <div class="go-register">
                <p>Não tem uma conta? <a href="javascript:void(0);" onclick="toggleForms()">Crie uma agora</a></p>
            </div>
        </div>

        <div class="register" id="register-form" style="display:none;">
            <form method="post" th:action="@{/register}">
                <h1>Register</h1>
                <label for="name">Nome:</label>
                <input type="text" id="register-name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="register-email" name="email" required>

                <label for="password">Senha:</label>
                <input type="password" id="register-password" name="password" required>

                <label for="passwordconfirm">Confirmar Senha:</label>
                <input type="password" id="register-passwordconfirm" name="passwordconfirm" required>

                <button type="submit">Registrar</button>
            </form>
            <hr>
            <div class="cancel-register">
                <p>Já tem uma conta? <a href="javascript:void(0);" onclick="toggleForms()">Retornar ao login</a></p>
            </div>
        </div>
    </div>
    
    <script>
        function toggleForms() {
            const loginForm = document.getElementById('login-form');
            const registerForm = document.getElementById('register-form');
            loginForm.style.display = (loginForm.style.display === 'none') ? 'block' : 'none';
            registerForm.style.display = (registerForm.style.display === 'none') ? 'block' : 'none';
        }
    </script>
</body>

</html>