<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
    <link rel="stylesheet" th:href="@{/css/user.css}">
</head>

<body>
    <div class="container">
        <a class="back" href="">&#8592;</a>
        <div class="user">
            <img src="/images/user.png" alt="Imagem do usuário" />
            <p>Olá, <span id="firstName"></span></p>
        </div>

        <div class="infos">
            <label for="name">Nome:</label>
            <input type="text" id="name" th:value="${user.name}" disabled>
            <label for="email">Email:</label>
            <input type="email" id="email" th:value="${user.email}" disabled>
            <label>Nova senha:</label>
            <button class="newPass">Definir nova senha</button>
        </div>

        <div class="actions">
            <p>Deseja excluir sua conta? <a class="delete" onclick="return confirm('Deseja excluir sua Conta?')" th:href="@{/user/delete/{id}(id=${user.id})}">Clique aqui</a></p>
        </div>
    </div>

    <script>
        function getFirstName() {
            var fullName = document.getElementById("name").value;

            var nameParts = fullName.split(' ');

            if (nameParts.length > 1) {
                return nameParts[0];
            } else {
                return nameParts[0];
            }
        }

        window.onload = function() {
            var firstName = getFirstName();
            document.getElementById("firstName").innerText = firstName;
        };
    </script>

</body>

</html>
