@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #f1f1f1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
}

nav {
    width: 100%;
    background-color: #2d2d2d;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav h1 {
    color: #f39c12;
    font-size: 1.8rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container-registered,
.container-register {
    width: 100%;
    max-width: 900px;
    background-color: #2d2d2d;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    min-height: 605px;
}

.container-register {
    justify-content: center;
}

.container-registered {
    padding-top: 47px;
    justify-content: top;
}

h2 {
    font-size: 1.6rem;
    color: #f39c12;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: #f1f1f1;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
}

.form-group input,
.form-group textarea {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #333;
    color: #FFF;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #f39c12;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.submit-btn,
.reset-btn {
    padding: 12px 20px;
    font-size: 1.1rem;
    background-color: #f39c12;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

.submit-btn:hover,
.reset-btn:hover {
    background-color: #e67e22;
}

.lojas-list ul {
    list-style-type: none;
}

.loja-item {
    background-color: #333;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}

.loja-item h4 {
    font-size: 1.4rem;
    text-align: left;
}

.loja-item p {
    font-size: 1rem;
    color: #555;
    text-align: left;
}

.loja-item strong {
    color: #f39c12;
}

.loja-item span {
    color: #F1F1F1;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.actions .edit-btn,
.actions .delete-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    width: 200px;
    text-align: center;
}

.actions .edit-btn {
    background-color: #4CAF50;
    color: white;
}

.actions .delete-btn {
    background-color: #f44336;
    color: white;
}

.actions .edit-btn:hover,
.actions .delete-btn:hover {
    opacity: 0.8;
}

.actions .delete-btn:active {
    background-color: #d32f2f;
}

.lojas-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 452px;
    padding: 15px;
    padding-bottom: 5px;
    background-color: #222;
    border-radius: 10px;
}

.loja-item h4,
.loja-item p {
    color: #f1f1f1;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #f39c12;
    border-radius: 10px;
    border: 3px solid #1c1c1c;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e67e22;
}

::-webkit-scrollbar-horizontal {
    height: 10px;
}

::-webkit-scrollbar-vertical {
    width: 10px;
}

.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 150px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    nav h1 {
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    nav ul li {
        margin: 5px 0;
    }

    .container-registered,
    .container-register {
        width: 100%;
        padding: 20px;
    }

    h2 {
        font-size: 1.4rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 1rem;
    }
}