@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #f1f1f1;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
}

.container {
    width: 100%;
    background-color: #2d2d2d;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.infos {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.infos label {
    margin-bottom: 5px;
    /* Espaçamento entre os itens */
}

.delete {
    color: red;
}

.back {
    font-size: 20px;
    font-weight: 600;
    transform: rotate(180deg);
    text-decoration: none;
    color: #f1f1f1;
    text-align: right;
}

.back:hover {
    color: #acacac;
    cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"],
button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    margin-top: 3px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    color: #f1f1f1;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
button:hover {
    outline: none;
    border-color: #f39c12;
}

.input-container {
    position: relative;
}

.icon {
    position: absolute;
    right: 10px;
    top: 53%;
    transform: translateY(-50%);
    color: gray;
    font-size: 16px;
    pointer-events: none;
    text-justify: center;
}